name: Go 1.26 Image Build

on:
  # Manual trigger
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Tag for the Go 1.26 image."
        default: "golang1.26"
        required: false

  # Trigger on push to the Go directory
  push:
    paths:
      - 'golang/**'

  # Weekly schedule
  schedule:
    - cron: '0 0 * * 0'

jobs:
  build_golang_image:
    name: Build Go 1.26 Image

    uses: uc-cdis/.github/.github/workflows/image_build_push.yaml@master
    with:
      # Assuming your Dockerfile is in a folder named 'golang/go.1.26'
      DOCKERFILE_LOCATION: "golang/go1.26/Dockerfile"
      DOCKERFILE_BUILD_CONTEXT: "golang/go1.26"

      # Puts it in the amazonlinux-base repo
      OVERRIDE_REPO_NAME: "amazonlinux-base"

      # Tagging Logic:
      # - Manual: Uses input
      # - Master/Main/Schedule: "golang1.26"
      # - Feature Branches: "branchname-golang1.26"
      OVERRIDE_TAG_NAME: |
        $(
          BRANCH_NAME=$(echo "${{ github.head_ref || github.ref_name }}" | tr / _)
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "${{ github.event.inputs.image_tag }}"
          elif [ "$BRANCH_NAME" == "master" ] || [ "$BRANCH_NAME" == "main" ] || [ "${{ github.event_name }}" == "schedule" ]; then
            echo "golang1.26"
          else
            echo "$BRANCH_NAME-golang1.26"
          fi
        )

    secrets: inherit